<div class="landing-container">
  <div>
    <div>
      <h1>
        Mitchell J.P. Chappell
      </h1>
    </div>
    
    <div>
      <h3>
        Engineer
      </h3>

      <p>
        Creative thinker, problem solver
      </p>
    </div>
  </div>

  <ul class="tech">
    <li><strong>Frontend:</strong> 
      Angular, React, Vue
      TypeScript, 
      JavaScript,
      ASP.NET,
      HTML,
      CSS, 
      SCSS,
      PHP 
    </li>
    <li><strong>Backend:</strong> 
      C#,
      .Net,
      NodeJS,
      SQL (Oracle),
      SQL (mySql),
      REST APIs
    </li>
    <li><strong>General:</strong> 
      Java,
      Python,
      C,
      C++,
      Bash,
      PowerShell
    </li>
    <li><strong>Other Technologies:</strong> 
      Git,
      Azure DevOps,
      Postman,
      Swagger,
      IIS,
      YAML,
      JSON
    </li>
  </ul>

  <div class="icons">
    <a href="">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" width="30"/>
    </a>
    <a href="">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg" width="30"/>
    </a>
  </div>
</div>





    
