<mat-card style="background-color: rgb(64, 78, 94); color:white;" >

    <mat-card-content class="animate__animated animate__backInDown" style="display: flex; justify-content: center; flex-direction: column; align-items: center;height:100vh;">
      <div style="margin: 10px">
        <h1  style="font-size: 100px;text-align: center;margin:0; font-family: Georgia, Serif; color: rgb(213, 221, 230)">Mitchell J.P. Chappell</h1>
      </div>
      <div>
        <p style="font-size: 25px; font-family: Georgia, Serif;">Full Stack Software Engineer</p>
      </div>
      <div style="width:50%; font-size: 20px;  font-family: Georgia, Serif; text-align: center;">
        Full Stack Software Engineer experienced in system modernization, database optimization, and team leadership. Adept at transforming legacy systems and enhancing user interfaces for improved accessibility and user experience. Passion to create meaningful, high-quality software solutions that drive business growth and innovation. 
      </div>  
      <br>
      <div class="social-links nimate__animated animate__backInDown" style="display: flex;justify-content: space-evenly; flex-direction: row;">
          <a href="https://www.linkedin.com/in/mitchell-chappell" target="_blank">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" width="30" alt="LinkedIn">
          </a>
          <a href="https://github.com/chappellm18" target="_blank">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" width="30" alt="GitHub">
          </a>
      </div>
      <br>
      <div style="display: flex;justify-content: space-between;flex-direction: row;">
        <a style="background-color: white;margin:5px;" mat-stroked-button href="https://www.google.com/" target="_blank">
          About Me
        </a>
        <a style="background-color: white;margin:5px;" mat-stroked-button href="https://www.google.com/" target="_blank">
          Projects
        </a>
      </div>
    </mat-card-content>
  </mat-card>