/* You can add global styles to this file, and also import other style files */
:root {
    --animate-delay: 4s;
  }

html, body { height: 100%; font-family: "Cabin", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }
body { margin: 0;}
