

<div class="experience">
    <h3>TRMI Systems Integrations</h3>
    <p class="location">Accord, NY</p>
    <p class="dates">2022-Present</p>
    <p class="title"><strong>Senior Full-Stack Software Engineer and Project Lead</strong></p>
    <ul>
        <li>Utilize .Net, TypeScript, Angular, Oracle, and more to build high-performing applications based on client requirements</li>
        <li>Developed customer-facing websites with customer experience and accessibility in mind</li>
        <li>Oversee the entire development lifecycle, from project bidding to implementation and maintenance</li>
        <li>Coordinate cross-functional teams, manage timelines, and ensure that projects meet both technical specifications and business goals</li>
        <li>Collaborative, result-driven leadership, focused on fostering innovation and delivering high-quality software solutions</li>
        <li>Implemented DevOps and security features</li>
        <li>Built internal tools to help automate the company's workflow, saving resources and development time</li>
        <li>Designed and developed solutions to integrate with credit card processors, government organizations, and electronic tolling agencies</li>
    </ul>
    
    <h3>MJPC Solutions</h3>
    <p class="location">Wallkill, NY</p>
    <p class="dates">2024-Present</p>
    <p class="title"><strong>Freelance Software Developer</strong></p>
    <ul>
        <li>Custom software solutions tailored to meet clients' unique needs</li>
        <li>Understand the client's vision and their customer base to design user-friendly interfaces, ensuring robust functionality</li>
        <li>Produce web applications, mobile apps with HTML, CSS, JavaScript, and React</li>
    </ul>
    
    <h3>Connection Technology Center</h3>
    <p class="location">Victor, NY</p>
    <p class="dates">2019</p>
    <p class="title"><strong>Software Engineering Intern</strong></p>
    <ul>
        <li>Developed a quality assurance testing application for the production of vibration sensors</li>
        <li>Utilized hardware to test sensors and read data</li>
        <li>Refactored legacy code to improve functionality and the efficiency of the software</li>
        <li>Improved the efficiency and accuracy of the existing testing platforms</li>
    </ul>
    </div>
    
    